{% extends 'SARS/base.html' %}

{% block title %} Query Construction {% endblock %}

{% block head_block %}
    <link href="{{ STATIC_URL }}css/basicsearchCSS.css" rel="stylesheet">
    <script type="text/javascript" src="{{ STATIC_URL }}JQuery/basic_query_script.js"></script>
{% endblock %}

{% block body_block %}
    <h1>Basic Query Search</h1>

    <form id="query_form" method="post" action="/SARS/abstractevaluation/">

        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        {% for field in form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text }}
            {{ field }}
        {% endfor %}

        <button name="basic" type="Submit">Search</button>
        <div id="retDiv">
            Number of documents to return: <input type="number" name="quantity" min="1" value="10">
        </div>
    </form>

    <p>Or you can use the <a href="{% url 'advanced_search' %}">Advanced Search</a>!</p>
{% endblock %}
