{% extends 'SARS/base.html' %}

{% block title %} Stage 1 {% endblock %}

    {% block body_block %}
        <h1>Construct a query</h1>

        <form id="query_form" method="post" action="/SARS/">

            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
            {% endfor %}
            <!--adding the add button-->
            <input type="submit" name="submit" value="Add" />
        </form>
        <!--adding search and clear all buttons-->
        <div style="display: inline-block">
            <form method="GET" action = "/SARS/abstractevaluation/">
                <input type="Submit" value="Search">
            </form>
        </div>
        <div style="display: inline-block">
            <form method="GET" action = "/SARS/clearall">
                <input type="Submit" value="Clear All">
                    <!--when the button is clicked the printQuery is clear in the views and then the page is
                    refreshed once so that the changes will be applied-->
                    <script>$( 'Clear All' ).click(function() {
                        if (window.location.href.indexOf('reload')==-1) {
                            window.location.replace(window.location.href+'?reload');
    }
});
                    </script>
            </form>
        </div>
        <p></p>
        <ol>
        <!--printing all the queries that are made-->
        {% for entry in query %}
                <li><button name="subject" type="submit" value=&#10007>&#10007</button>{{ entry }}</li>
<script>
                $("li").ready(function(){
                $("li").click(function() {
                $(this).remove();
    });
});
</script>
        {% endfor %}
        </ol>
    {% endblock %}