#ctrl_button{
    display:inline-block;
}
#underline{
    position: relative;
    text-align: center;
    height:0.2em;
    background-color: black;
    margin: 1em;
}
#docCount{
    font-size: 20px;
}
input[name=docCheckbox]{
    text-align: start;
    transform: scale(1.5);
}
li[id=doc]{
    background: #e0dee1;
    border-radius: 2px;
    border: 2px solid #b4b4b4;
    text-align: start;
    padding-left: 5px;
    margin: 1em;
}
li[id=doc] > div > a {
    font-size: 16px;
    color: black;
}
