{% extends "SARS/base.html" %}

{% block title %} Registration complete {% endblock %}

{% block body_block %}
<h1>Registration Complete</h1>
    <form method="post" action="/SARS/successfulregistration/">
            {% csrf_token %}
            {{ form.as_p }}
            <p>You are now registered</p>
            <!--<input type="submit" value="Click to construct query" />-->
    <script> $(document).ready(function(){

    window.location.replace('../../../SARS/');})
</script>
    </form>
{% endblock %}
